.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.star_count, .watchers_count {
	display: block;
}

.tabs .indicator {
	background-color: #EE9941;
}

.card svg {
	max-width: 2em;
}