.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.star_count, .watchers_count {
	display: block;
}

.tabs .indicator {
	background-color: #fe5000;
}

.card svg {
	max-width: 2em;
}

.language {
	font-size: 3rem;
}